
@{
    ViewBag.Title = "changeStatusToTransit";
}

<body>
    <h2>change Status To Transit</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner Id</th>
            <th>TransportOwner Name</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var trnasited in @ViewBag.TransitOrders)
        {
            <tr>
                <td>@trnasited.OrderId</td>
                <td>@trnasited.TransportOwnerId</td>
                <td>@trnasited.TransportOwnerName</td>
                <td>@trnasited.QuoteBudget</td>
                <td>@trnasited.QuoteStatus</td>
                <td><a href=@Url.Action("ConfirmTransit", "Admin",new { id= trnasited.Id})>Accept</a></td>
            </tr>
        }
    </table>
</body>

