
@{
    ViewBag.Title = "changeStatusToCompleted";
}

<h2>changeStatusToCompleted</h2>
<body style="background-color:cadetblue;">
    <h2>change Status To Completed</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner Id</th>
            <th>TransportOwner Name</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var completed in @ViewBag.CompletedOrders)
        {
            <tr>
                <td>@completed.OrderId</td>
                <td>@completed.TransportOwnerId</td>
                <td>@completed.TransportOwnerName</td>
                <td>@completed.QuoteBudget</td>
                <td>@completed.QuoteStatus</td>
                <td><a href=@Url.Action("ConfirmCompleted", "Admin",new { id= completed.OrderId })>Confirm Completed</a></td>
            </tr>
        }

    </table>
</body>


