
@{
    ViewBag.Title = "updateOrderAsConfirmedToTransportOwner";
}


<body>
    <h2>Send order confirmation to Transport Owner</h2>
    <table style="width:100%">
        <tr>
            <th>Pick Up</th>
            <th>Drop Off</th>
            <th>Comodity</th>
            <th>Weight</th>
            <th>PickUpDate</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>ReceiverName</th>
            <th>ReceiverCompanyName</th>
            <th>AdditionalDetails</th>
            <th>Status</th>
            <th>Budget</th>
            <th>Send Confirmation</th>
        </tr>


        @{
            foreach (var order in @ViewBag.AcceptedOrders)
            {
                <tr>
                    <td>@order.OrderPickup</td>
                    <td>@order.OrderDropOff</td>
                    <td>@order.OrderComodity</td>
                    <td>@order.OrderWeight</td>
                    <td>@order.OrderPickUpDate</td>
                    <td>@order.OrderLength</td>
                    <td>@order.OrderWidth</td>
                    <td>@order.OrderHeight</td>
                    <td>@order.OrderReceiverName</td>
                    <td>@order.OrderReceiverCompanyName</td>
                    <td>@order.OrderAdditionalDetails</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.OrderBudget</td>
                    <td><a href=@Url.Action("sendOrderConfirmationtoTO", "Admin",new { id= order.Id})>Send Confirmation</a></td>
                </tr>
            }
        }

    </table>

</body>
