
@{
    ViewBag.Title = "QuoteDetails";
}

<body>
    <h2>Quote Details</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner Id</th>
            <th>TransportOwner Name</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var QuoteDetail in @ViewBag.QuotesDetail)
        {
            <tr>
                <td>@QuoteDetail.OrderId</td>
                <td>@QuoteDetail.TransportOwnerId</td>
                <td>@QuoteDetail.TransportOwnerName</td>
                <td>@QuoteDetail.QuoteBudget</td>
                <td>@QuoteDetail.QuoteStatus</td>
                <td><a href=@Url.Action("AcceptQuote", "Admin",new { id= QuoteDetail.Id})>Accept</a></td>
            </tr>
        }
       
    
    </table>


</body>
