
@{
    ViewBag.Title = "QuoteDetails";
}

<body>
    <h2>Quote Details</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var order in @ViewBag.QuotesDetail)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.TransportOwnerId</td>
                <td>@order.QuoteBudget</td>
                <td>@order.QuoteStatus</td>
                <td><a href=@Url.Action("AcceptQuote", "Admin",new { id=order.Id})>Accept</a></td>
            </tr>
        }
       
    
    </table>


</body>
